html {
  font-size: 1em;
}

body {
  background: url('../img/bg.jpg') repeat, darkgrey;
}

.container {
  width: 1000px;
}

body p {
  color: white;
}

h1, h2, h3, h6, a {
  color: #b5c1ad;
}

h1, h2, h3 {
  font-family: QuicksandBook, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: .08em;
  text-transform: uppercase;
}

h6 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
}

.nav {
  color: #b5c1ad;
  padding-top: 10px;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.collapse {
  margin-top: -90px;
}

.navbar-inverse {
  background-image: url('../img/bg-header.jpg');
  opacity: .7;
  border-bottom: none;
  padding-bottom: 10px;
}

.navbar-header {
 margin: 43px 0px 10px 0px;
 float: left;
 padding: 0px 15px 0px 15px;
}

.nav {
  letter-spacing: .08em;
  font-weight: 200;
  margin-top: 30px;
  float: right;
  color: #fff;
}

.main {
  position: relative;
  background-image: url('../img/bg-triangle.png');
  background-repeat: no-repeat;
  background-size: 630px;
}

.title {
  position: absolute;
  left: 500px;
  top: 90px;
  padding: 0px 15px;
}

.bike-triangles {
  position: relative;
  margin-top: 144px;
}

.bikes {
  width: 585px;
  left: 110px;
  position: relative;
}

.intro {
  margin-top: 197px;
  font-family: Georgia, "Times New Roman" serif;
  font-size: .9em;
}

.intro p {
  margin-top: 20px;
}

.more-articles {
  border-top: 1px solid #fff;
  margin-top: 50px;
}

.col-md-12 {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.articles {
  float: left;
}

.articles img {
  width: 100%;
}

.articles p {
  border-bottom: 1px solid #ccc;
  padding: 15px 0px;
  margin-bottom: 0px;
  font-size: .9em;
  letter-spacing: .07em;
}

.articles p:last-child {
  border-bottom: none;
}

.intro p {
  border: none;
}

.footer {
  background-color: rgba(0, 0, 0, .2);
  margin-top: 10px;
  padding: 10px 15px 5px 15px;
  color: #fff;
}

.footer a {
  color: #807c72;
  font-size: .9em;
}

.clearfix:before, .clear-fix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}



/*@media screen and (max-width: 1000px) {
 .body {
  position: relative;
  background-image: url('../img/bg-triangle.png');
  background-repeat: no-repeat;
  background-size: 66%;
}

.title {
  position: absolute;
  left: 50%;
  top: 10%;
  padding: 0px 15px;
}

.bike-triangles {
  position: relative;
  margin-top: 145px;
}

.bikes {
  width: 85%;
  left: 111px;
  position: relative;
}
}
*/
@media screen and (max-width: 992px) {
 .main {
  position: relative;
  background-image: url('../img/bg-triangle.png');
  background-repeat: no-repeat;
  background-size: 80%;
}

.title {
  position: absolute;
  left: 390px;
  top: 90px;
  padding: 0px 0px;
  font-size: 2.15em;
}

.bike-triangles {
  position: relative;
  margin-top: 133px;
}

.bikes {
  width: 78%;
  left: 100px;
  position: relative;
}

.intro {
  margin-top: 100px;
  padding-top: 20px;
  border-top: solid 1px #fff;
}

.articles {
  width: 25%;
}
}

@media screen and (max-width: 768px) {

.container {
  width: 700px;
}

.navbar-header {
  margin-top: 34px;
  margin-bottom: 20px;
}

.main {
  position: relative;
  background-image: url('../img/bg-triangle.png');
  background-repeat: no-repeat;
  background-size: 600px;
}

.title {
  position: absolute;
  left: 420px;
  top: 60px;
  padding: 0px 0px;
  font-size: 2em;
}

.bike-triangles {
  position: relative;
  margin-top: 135px;
}

.bikes {
  width: 560px;
  left: 102px;
  position: relative;
}

.intro {
  margin-top: 100px;
  padding-top: 20px;
  border-top: solid 1px #fff;
}

.articles {
  width: 25%;
}




}

@media screen and (max-width: 400px) {
  .container {
  width: 350px;
}

.navbar-header {
  margin-top: 20px;
}

.nav {
  padding-top: 0;
  margin-top: 5px;
  font-size: .9em;
  float: left;
}

.main {
  position: relative;
  background-image: url('../img/bg-triangle.png');
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 0 24%;
}

.title {
  position: absolute;
  left: 14px;
  top: 50px;
  padding: 0px 0px;
  font-size: 1.7em;
}

.bike-triangles {
  position: relative;
  margin-top: 170px;
}

.bikes {
  width: 278px;
  left: 45px;
  position: relative;
}

.intro {
  margin-top: 75px;
  padding-top: 20px;
  border-top: solid 1px #fff;
}

.articles {
  width: 100%;
  float: left;
}

}


